.debug-container-1 {
    outline: 1px solid red;
}

.debug-container-2 {
    outline: 3px solid blue;
}

.debug-container-3 {
    outline: 1px solid black;
}

.debug-container-4 {
    outline: 1px solid green;
}

.debug-container-5 {
    outline: 1px solid violet;
}
