@import "./global.css";

.footer-icon {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}


.footer-icon:hover {
  color: red;
  cursor: pointer;
}

.icon-text {
  margin-left: 0.5rem;
} 

.title-text {
  font-family: "Arial", sans-serif;
}

.home-page-title {
  text-align: center;
  background-color: var(--color-primary);
  width: 80vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.secondary-text {
  color: var(--color-secondary);
}

.white-text {
  color: white;
}


.btn.newsletter-confirm-btn {
  color: black;
  background-color: var(--color-primary);
}

.container-fluid.newsletter-container {
  background-color: black;
  color: white;
}

h2, p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: var(--color-accent-2);
  font-weight: bold;
  cursor: pointer;
}

.btn.change-page-button {
  color: var(--color-accent-2);
  background-color: var(--color-secondary);
}

.btn.change-page-button:hover {
  color: black;
  background-color: var(--color-primary);
}

.filter-table {
  background-color: var(--color-secondary);
}

.filter-white {
  color: white;

  margin-left: 5px;
}

.filter {
  flex: 1;
  margin-right: 4px;
}

.filter-title {
  text-align: center;
}

.navbar-icon-img {
  width: 100px;
  height: 100px;
}

.radius-component {
  border-radius: 10px;
}

.cardContainerStyle {
  margin-left: 30px;
  margin-right: 30px;
}

.productGridStyle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.paginateButtonStyle {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.home-container {
  display: flex;
  margin-right: 15px;
  margin-bottom: 15px;
}

.carousel-wrapper {
  margin-bottom: 20px;
}

.home-carousel-container {
  width: 100%;
  height: 60vh;
}

.home-carousel-img {
  height: 60vh;
}

.grid {
  flex: 4;
  margin-left: 4px;
  background-color: var(--color-primary-light);
  border-radius: 10px;
  margin-right: 20px;
}

.radius-component {
  margin-left: 5px;
}

.checkbox-container {
  margin-left: 5px;
}

.checkbox-label {
  margin-left: 5px;
}

.card {
  width: 14rem;
}

.btn.card-button-details {
  color: var(--color-accent-2);
  background-color: var(--color-secondary);
}

.btn.card-button-details:hover {
  color: black;
  background-color: var(--color-primary);
}


.loading-image {
  height: 20vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .loading-image {
    animation: App-logo-spin infinite 20s linear;
  }
}
