:root {
    --color-primary: #FF0000;
    --color-primary-light: #c12f2f;
    --color-secondary: #0D1821;
    --color-accent-1: #651919;
    --color-accent-2: white;
    background-color: var(--color-secondary);
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white !important; /* Asegura que el color del texto sea blanco */
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.login-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 10px;
}

.login-submit-button {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-submit-button:hover {
    background-color: var(--color-primary);
    color: var(--color-secondary);
}

